body
  margin: 0
  font-family: system-ui
  text-align: justify
  box-sizing: border-box
  line-height: 1.5

main
  display: flex
  flex-direction: column
  align-items: center
  margin: auto
  max-width: 900px

nav
  display: flex
  justify-content: space-between
  & a
    padding: 1.5rem
    text-transform: uppercase
    text-decoration: none

.flex
  display: flex
  margin: auto

.column
  flex-direction: column
