@import '_global.sss'

#index .hero
  box-sizing: border-box
  background: url('/img/home_hero.jpg') no-repeat center center
  background-size: cover
  width: 100%
  height: auto
  padding: 4rem

  & h2, & a
    color: white
  color: rgb(169, 248, 221)
